.navbar-brand {
    color: #fed123;
}

.navbar-brand:hover {
    color: #d3b24a;
}

.nav-item a{
    color: #c2c7ca;
}
.nav-item a:hover{
    color: #93999e;
    text-decoration: none;
}

h1 {
    font-size: 70px;
}

.navbar {
    background-color: #2c2b2f !important;
}

.bg-dark {
    background-color: #2c2b2f;
}

.text-white {
    color: #ffffff;
}

.borda {
    border: 3px solid gray;
}

.icons:hover{
    opacity: 0.5;
}

.amarelo {
    color: #fed123;
}

.amarelo:hover{
    color: #d3b24a;
}

body {
    font-family: 'Baloo Bhaina 2', cursive;
}